<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose a repository</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Roboto:300,400,700" rel="stylesheet">

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>


    <script src="/js/vector/Vector.js" charset="utf-8"></script>
    <script src="/js/light/LightParticle.js" charset="utf-8"></script>
    <script src="/js/light/LightParticleCloud.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/repos.css">
  </head>
  <body>
    <section class="repos">
      <article class="title-section">

        <!-- Canvas to display particles -->
        <canvas id="repos-canvas" width="800" height="800"></canvas>

        <h1>Choose a repository</h1>
        <p>Pick one of the repositories you're contributing to. Your best score
          will be shared with the other contributors</p>
      </article>

      <article>

        <section class="repos-list">
          <h2>Your repositories</h2>
          
          <% for(var i = 0; i < repos.length; i++) { %>
            <article class="repo-overview">
              <div class="left">
                <div class="picto">

                </div>
              </div>
              <div class="right">
                <h2><%= repos[i].name %></h2>
                <h3><%= repos[i].full_name %></h3>
                <span class="repo-id"><%= repos[i].id %></span>
              </div>
            </article>
          <% } %>
          
          <% if(pages > 1) { %>
            <% if(current === 1) { %>
              <a>previous</a>
            <% } else { %>
              <a href="/repos/<%= current - 1 %>">previous</a>
            <% } %>

            
            <% let i = (current) > 5 ? current - 4 : 1 %>
            <% if (i !== 1) { %>
              <span>...</span>
            <% } %>
            
            <% for (; i <= current + 4 && i <= pages; i++) { %>
                <% if (i === current) { %>
                    <a><%= i %></a>
                <% } else { %>
                    <a href="/repos/<%= i %>"><%= i %></a>
                <% } %>
                <% if (i === current + 4 && i < pages) { %>
                    <span>...</span>
                <% } %>
            <% } %>
            
            
            <% if(current === pages) { %>
              <a>next</a>
            <% } else { %>
              <a href="/repos/<%= current + 1 %>">next</a>
            <% } %>
          <% } %>

        </section>
      </article>

    </section>

    <script src="js/repos.js" charset="utf-8"></script>

  </body>
</html>
